* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  height: 100vh;
}

/* Side Bar */

.sidebar {
  background-color: #eab308;
  color: #0c0a09;
  padding-right: 4rem;
}

.logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0.4rem;
}

.dashboard-icon {
  width: 5.2rem;
  height: 5.2rem;
  margin-left: 0.8rem;
}

.logo-text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.logo-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.6rem 2.5rem;
}

.icon-text p {
  margin-left: 1.25rem;
  font-size: 1rem;
}

.list-items-bottom {
  margin-top: 3.125rem;
  margin-bottom: 60vh;
}

/* Main Screen  */

.main {
  background-color: white;

  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 4rem;
}

.form-input {
  width: 35rem;
  height: 1.6rem;
  background-color: beige;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 1.4rem;
  margin-right: 10rem;
}

.form-input:hover {
  border: 2px solid black;
}

.icon {
  width: 3.7rem;
  height: 4.2rem;
  border-radius: 33px;
  border: 1px solid black;
  margin: 0 2rem 0 3rem;
}

/* WELCOME */
.welcome,
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.1rem;
  margin-left: 1.2rem;
}

.icon-2 {
  width: 5rem;
  height: 6rem;
  border-radius: 80rem;
  border: 1px solid black;
  margin: 0 1.6rem;
}

a {
  text-decoration: none;
  color: goldenrod;
  transition: 6s;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23rem;
  margin-right: 2rem;
}

.btn {
  width: 6rem;
  height: 2rem;
  color: #eab308;
  background-color: black;
  border: 1px solid black;
  border-radius: 1.25rem;
}
/* CONTENT */

/* Projects Section */

.content {
  background-color: #0c0a09;
  color: #eab308;
  display: grid;
  grid-template-columns: 3fr 1.1fr;
  padding-top: 2rem;
  padding-left: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: white;
  color: black;
  border-left: 0.4rem solid #eab308;
  border-radius: 0.5rem;
  width: 80%;
  margin: 1.5rem 0;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.8rem;
  width: 100%;
  margin-top: 2rem;
}

h6 {
  font-size: 1.125rem;
}
.card p {
  font-size: 0.875rem;
  color: #6b7280;
  margin: 0.5rem 0;
}

/* Announcement & Trending Section  */

.ann-trend {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  height: 100vh;
}

.ann-card {
  width: 80%;
  height: 75%;
  background: white;
  color: black;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 20px;
  margin-right: 2rem;
}

.ann {
  margin-bottom: 2rem;
}

.ann-card p,
.trend-text p {
  font-size: 14px;
  color: #6b7280;
  margin: 05px 0;
}

.ann-text {
  padding: 5px 10px;
}

.ann-text h6,
.trend-text h6 {
  font-size: 14px;
}

.divider {
  border: 0.5px solid #6b7280;
  width: 95%;
  margin-bottom: 10px;
}

/* Trend Section */

.trend-card {
  width: 80%;
  height: 65%;
  background: white;
  color: black;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 20px;
  margin-right: 1.8rem;
}

.trend-icon {
  border-radius: 30px;
  border: solid black;
  margin: 10px 20px;
}

.trend-img-text {
  display: flex;
  align-items: center;
}

.trend-card p {
  color: #6b7280;
}
